<div>
  <img src="assets/hp_roam_logo.png" class="hpLogo">
  <div class="formContainer">
    <div class="topFormLabel">Sign in</div>
    <form (ngSubmit)="onTabLogin(user)" [formGroup]="user" #formDir="ngForm">
      <div class="form-box form-field-error form-input-area">

        <div class="emailFiledHolderDiv">
          <input formControlName="email" type="email" placeholder="Email" />
          <div class="cancleIcon" (click)="cancelAndReEnterEmail()" *ngIf="isUserReadyToLogin">
            <img src="./assets/edit.png" width="20" height="20" >
          </div>
        </div>
        <span class="errorMsg" 
            *ngIf="user.get('email').touched 
            && user.get('email').hasError('required')">
            Email is required
        </span>

        <span class="errorMsg" 
            *ngIf="!user.get('email').hasError('required') 
            && user.get('email').hasError('email')">
            Invalid email format
        </span>
        <input formControlName="password" type="password" placeholder="Password" *ngIf="isUserReadyToLogin">
        <span class="errorMsg" 
            *ngIf="user.get('password').touched
            && user.get('password').hasError('required')  && isUserReadyToLogin">
              Password is required
        </span>
        <span class="errorMsg" 
            *ngIf="user.get('password').hasError('notMinimum') && isUserReadyToLogin">
            Password should be of minimum 8 characters 
        </span>

        <div class="frgtLinkDiv">
          <a class="forgotLink" (click)="onTabForgotPassword()">Forgot password</a>
        </div>
        <button type="submit" class="btn btn-success nextButton" [disabled]="isApplicableForProceedToLogin()" *ngIf="isUserReadyToLogin">Login</button>
      </div>  
    </form>
    <button class="btn btn-success nextButton" [disabled]="isApplicableForProceedToNext()" *ngIf="!isUserReadyToLogin" (click)="onTabNext()">Next</button>
    <button type="button" class="btn btn-primary readyBtn" (click)="onTabCreateAccount()">Create account</button>
  </div>
</div>

