.forgotLink {
    text-decoration: underline;
}
.frgtLinkDiv {
    margin-top: 10px;
    text-align: right;
}
.btn[disabled] {
    opacity: 1;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    color: white;
}

.btn-primary, .btn-primary:active:focus {
    color: #3aa4d3;
    background-color: white;
    border-color: #3aa4d3;
}

.btn-success, .btn-success:active:focus {
    color: #fff;
    background-color: #3aa4d3;
    border-color: #3aa4d3;
}

.emailFiledHolderDiv {
    position: relative;
}

.cancleIcon{ 
    position: absolute;
    top: 12px;
    right: 6px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}